# Auto detect text files and perform LF normalization
* text=auto
*.lng linguist-language=INI
*.ngt linguist-language=angelScript
*.md linguist-language=markdown
*.html linguist-language=HTML
*.txt linguist-language=Text
