# Auto detect text files and perform LF normalization
* text=auto
*.md linguist-detectable
*.lng linguist-detectable linguist-language=INI
*.ngt linguist-language=angelScript
*.html linguist-detectable linguist-language=HTML
*.txt linguist-detectable linguist-language=Text
